:root {
    --primary-color: #15ac8e;
    --primary-color-darkest: #083d33;
    --primary-color-darker2: #0d5748;
    --primary-color-darker: #11977d;
}
html.huyan {
    --primary-color: #4fc058;
}
html.haitian {
    --primary-color: #7d94cb;
}
html.fugu {
    --primary-color: #cdc27d;
}
p {
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-wrap: break-word;
    text-align: justify;
}
p > code {
    background-color: var(--bg-color-page);
    color: var(--primary-color);
    border-radius: 4px;
    padding: 2px 6px;
    margin: 0 2px;
}
img {
    max-width: 100%;
}
a {
    color: var(--primary-color);
    text-decoration: none !important;
    transition-duration: 0.2s;
    transition-property: color;
}

a:hover {
    color: var(--primary-color-darker);
}

mark a,
mark .md-content.md-url {
    color: var(--primary-color-darker2);
}
mark a:hover {
    color: var(--primary-color-darkest);
}

.ty-preferences a {
    color: var(--primary-color);
}

.code-card {
    position: relative;
}
.code-card .lang {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
    cursor: pointer;
}
.code-card pre {
    padding: 10px;
    border-radius: 6px;
    overflow: auto;
    background-color: var(--bg-color-page);
    font-size: 14px;
}
